/* General Navbar Styling */
.navbar{
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: white;
}
.navbar .nav-container {
  width: full;
  height: 47px;
  margin: 24px 80px 24px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #fff;
 
  gap: 35px;
 
  
}
.nav-container .logo-img {
  height: 32px;
  width: 32px;
  cursor: pointer;
}
.nav-container .category {
  /* width: ; */
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 35px;
  /* position: ; */
}
.category .profile-container {
/* width:175px; */
height: 24px;
gap: 4px;

}
.profile-container .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.profile .profile-img {
  width: 16px;
height: 16px;
padding: 1.33px 2px 2px 2px;
gap: 4px;
/* opacity: 0px; */

}

.profile .Register-SignIn {
  width: 139px;
height: 24px;
gap: px;
padding: 0 4px;
/* opacity: 0px; */
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-decoration: none;
}

.profile .register-drop {
  width: 16px;
height: 16px;
}
.profile-container .register-signin {
  width: 194px;
height: 132px;
top: 79px;
background: #FFFFFF;
border: 1px solid #C1C1C1;
font-weight: bold;
display: none;
}
.register-signin h2 {
width: 194px;
height: 44px;
padding: 10px 16px 10px 16px;
gap: 10px;
font-family:Poppins;
font-size: 16px;
font-weight: 700;
line-height: 24px;

}
.register-signin  hr{
width: 127px;
margin: auto;
border: 1px solid #C1C1C1
}
 .profile-container:hover .register-signin, .register-drop:hover{
  display: block;
}
.register-drop:hover {
  transform: rotate(180deg);
}

.category .more-categories .more-container {
    display: flex;
    gap: 4px;
    height: 24px;
    width: 60px;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.more-container .more {
    width: 40px;
    height: 24px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.more-container .more-drop {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease; /* Enable smooth rotation */
}

.more-categories .drop-lists {
    width: 194px;
    height: 280px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    top: 56px;
    position: absolute;
    left: 791px;
    background-color: white;
    z-index: 10;
    /* margin-top: 8px; */
    border-radius: 4px;
    /* display: ; */
}

.drop-lists .list {
    width: 77px;
    height: 24px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;
    text-align: left;
}

.drop-lists hr {
    width: 194px;
    height: 0px;
    top: 40px;
    margin-top: 8px;
    margin-bottom: 7px;
    border: 1px solid #C1C1C1;
}

/* Hover effects for container and dropdown */
/* .more-drop:open, .more-container:hover, .drop-lists {
    /* display:block; */
    /* opacity: 100%; */
/* } */
.more-categories:hover .more-drop:hover .drop-lists{ 
    display: block;
}
.more-drop:hover {
    transform: rotate(180deg);  
} 
/* .more-drop.open .drop-lists{
  display:block;
} */
.nav-container .search-box {
 width: 275px;
height: 40px;
display: flex;
/* gap: 0px; */
/* justify-content: space-between; */
border-radius: 16px;
border: 1px solid #C6C6C6;
/* opacity: 0px; */

}
.input-container .search-img{
 width: 16px;
height: 16px;
padding: 1.33px;
gap: 0px;
opacity: 0px;
/* position: absolute; */

}
.search-box .input-container{
  width: 185px;
height: 40px;
padding: 8px;
gap: 8px;
display: flex;
align-items: center;
text-align: center;
margin: auto;
justify-content: left;
/* position: relative; */
}
.input-container .search-input{
width: 69%;
  font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-underline-position: from-font;
text-decoration-skip-ink: none;

/* position: absolute; */
}
.search-box button{
width: 90px;
height: 40px;
padding: 8px 8px 8px 0px;
gap: 10px;
border-radius: 0px 16px 16px 0px;
opacity: 0px;
background: #882BECF2;
align-items: center;
text-align: center;
justify-content: center;
}
.search-box button .search-icon{
width: 24px;
height: 24px;
gap: 4px;
opacity: 0px;
margin: auto;

}
.nav-container .currency-change{
  cursor: pointer;
  width: 149px;
height: 24px;
gap: 4px;
opacity: 0px;
display: flex;
}
.currency-change .flag-img{
  width: 24px;
height: 24px;
gap: 0px;
opacity: 0px;

}
.currency-change h2{
 width: 101px;
height: 24px;
gap: 0px;
opacity: 0px;
 font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
/* background: #1E1E1E; */

}
.currency-change .currency-drop{
  width: 16px;
height: 16px;
/* padding: ; */
gap: 0px;
opacity: 0px;

}
.nav-container .cart-container{
  width: 47px;
height: 46.5px; 
/* gap: 0px; */
opacity: 0px;
display: flex;
position: relative;
border-radius: 50%;
/* background-color: #882BECF2; */
}
.cart-container .bag-img{
  width: 44px;
height: 46px;
top: 2.5px;
left: 1276px;
padding: 3px -3px;
gap: 0px;
border-radius: 50%;
opacity: 0px;
/* position: absolute; */

}
.cart-container h2{
  width: 20px;
height: 20px;
left: 27px;
top: -7px;
gap: 0px;
padding: 0;

font-size: 12px;
opacity: 0px;
background-color: red;
border-radius: 50%;
position: absolute;

}













@media (max-width: 480px) {
  .navbar{
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  margin: 0;
  padding: 0;

  height: fit-content;
  left: 0;
  /* background-color: rgb(153, 31, 31); */
}

  .navbar .nav-container {
    display: none;
  }
 .navbar2{
/* margin: auto; */
  /* position: absolute; */
  width: 382px;
height: 32px;
margin-top: 13px;
left: 24px;
right: 24px;

gap: 24px;
opacity: 0px;
display: flex;
align-items: center;
text-align: center;
justify-content: space-between;
/* background-color: red; */
 }
 .navbar2 .navbar-left{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 24px;
 }
 .navbar-left .menu-icon{
  width: 24px;
height: 24px;
gap: 0px;
opacity: 0px;
cursor: pointer;
 }
 .navbar-left .menu-icon:active{
  display: none;
 }
 .navbar2 .sidebar-menu{
  position: absolute;
  width: 207px;
height: 392px;
top:47px;
gap: 0px;
opacity: 0px;

background-color: red;

 }
 .navbar-left .menu-icon:active, .sidebar-menu{
  display: block;

 }
 .navbar-left .logo-img{
  width: 32px;
height: 32px;
cursor: pointer;
}
.navbar2 .navbar-center{
  display: flex;
  width: 230px;
height: 32px;
padding: 4px 16px 4px 16px;
gap: 8px;
border-radius: 24px;
opacity: 0px;
border: 1px solid #C6C6C6;
}
.navbar-center .search-icon{
  width: 13.33px;
height: 13.33px;
top: 1.33px;
left: 14.67px;
gap: 0px;
/* border: 1.5px solid #222222; */
opacity: 0px;


}
.navbar-center .search-input{
  width: 53px;
height: 18px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 12px;
font-weight: 300;
line-height: 18px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #808080;

}
.navbar2 .navbar-right{
  width: 24px;
height: 24px;
gap: 0px;
border-radius: 100px;
opacity: 0px;
background-color: #222222;
} 

.navbar2 .sidebar-menu{
width: 207px;
position: absolute;
height: 392px;
top: 11px;
border: 1px solid #C9C9C9;
gap: 15px;
opacity: 0px;
display: flex;
flex-direction: column;
/* position: relative; */

background-color: #FFFFFF;
}
.sidebar-menu .xlogo{
 width: 128px;
 position: relative;
height: 32px;
top: 6px;
left: 24px;
gap: 20px;
display: flex;
align-items: center;
justify-content: space-between;
opacity: 0px;

}
.xlogo .close{
  width: 24px;
  height: 24px;
  /* top: 3px; */
  text-align: center;
  align-items: center;
  /* background-color: red; */
}
.close .close-icon{
  align-items: center;
  width: 14px;
  position: relative;
height: 14px;
top: 5px;
left: 5px;
gap: 0px;
cursor: pointer;
opacity: 0px;
font-size: 2px;
/* border: 2px solid #222222 */
}
.sidebar-menu.open{
  display: none;
}
.xlogo .lgo{
   width: 24px;
  height: 24px;
}
.nav-list{
  gap: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

 .nav-list .rigister{
  width: full;
  position: absolute;
/* height: 28px; */
top: 0px;
padding: 4px;
gap: 12px;
opacity: 0px;
padding: 8px;
cursor: pointer;
/* margin-left:12px ; */
border-bottom: 3px solid #C9C9C9;
border-top: 3px solid #C9C9C9;
 }
 .rigister h3{
  width: full;
height: auto;
gap: 0px;
padding-left: 6px;
opacity: 0px;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 28px;
text-align: left;


 }
 .nav-list .our-category{
  position: absolute;
  
height: 198px;
top: 51px;
left: 0px;
gap: 16px;

 }
 .our-category h3{
  
height: 18px;
margin-bottom: 10px;
padding-left: 14px;
gap: 10px;
padding: 18px;
opacity: 0px;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 18px;
text-align: left;
cursor: pointer;
text-underline-position: from-font;
text-decoration-skip-ink: none;

 }
 .our-category ul{
  width: full;
height: auto;
position: relative;
top: px;
left: 0px;
gap: 16px;
opacity: 0px;
display: flex;
flex-direction: column;
text-align: left;
padding-left: 16px;
 }
 ul li{
  /* position: absolute; */
  width: full;
height: 18px;
gap: 0px;
opacity: 0px;
font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 18px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
cursor: pointer;

 }
 .nav-list .nav-currency{
  /* position: absolute; */
  width: full;
  
height: 44px;
top: 270px;
padding-top: 20px;
margin-bottom: 0;
left: 0px;
padding-left: 14px;
gap: 8px;
opacity: 0px;
align-items: center;
border-top: 3px solid #C9C9C9;

 }
}
@media (min-width: 481px) {
  .navbar2{
    display: none;
}
}
